// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.welcome {
  padding-top: 15px;
  padding-right: 10px;
}

.empty-cart {
  font-size: 2em;
  color: palevioletred;
}

.empty-page {
  align-content: middle;
}

.link-to-home {
  font-size: 3em;
}